
<%= simple_form_for(@medicine) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.file_field :picture %>
    <%= f.input :name, label: "Nome" %>
    <%= f.input :quantity, label: "Quantidade" %>
    <%= f.input :medicine_validity, label: "Validade" %>
    <%= f.input :medicine_insert, label: "Bula" %>
    <%= f.input :used_to, label: "Usado para"%>
    <%= f.input :purchase_date, label: "Comprado em" %>
    <%= f.association :categories, as: :check_boxes, label: "Categorias" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Salvar remédio" %>
  </div>
<% end %>
