
<%= simple_form_for(@medicine) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.file_field :picture %>
    <%= f.input :user_id, as: :hidden %>
    <%= f.input :name, label: "Nome" %>
    <%= f.input :quantity, label: "Quantidade" %>
    <%= f.input :purchase_date, label: "Comprado em" %>  
    <%= f.input :medicine_insert, label: "Bula" %>
    <%= f.input :used_to, label: "Usado para"%>
    <%= f.input :medicine_validity, label: "Validade", input_html: { class: "datepicker" }  %>
    <%= f.association :symptoms, as: :check_boxes, collection: Symptom.where(user_id: current_user.id), label: "Sintomas", wrapper: :vertical_collection_inline %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Cadastrar remédio", class: "btn btn-success btn-margin-bottom" %>
  </div>
<% end %>
