<p id="notice"><%= notice %></p>

<h1>Remédios</h1>

<%= link_to 'Voltar', root_path %>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Quantidade</th>
      <th>Validade</th>
      <th>Data de compra</th>
      <th>Categoria</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @medicines.each do |medicine| %>
      <tr>
        <td><%= medicine.name %></td>
        <td><%= medicine.quantity %></td>
        <td><%= medicine.medicine_validity.strftime("%d/%m/%Y") %></td>
        <td><%= medicine.purchase_date.strftime("%d/%m/%Y") %></td>
        <td>
          <% medicine.categories.each do |c| %>
            <%= c.name %>
          <% end %>
        </td>
        <td><%= link_to 'Detalhes', medicine %></td>
        <td><%= link_to 'Editar', edit_medicine_path(medicine) %></td>
        <td><%= link_to 'Excluir', medicine, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to new_medicine_path, class: "btn btn-primary" do %>
  Novo Remédio
<% end %>
