<p id="notice"><%= notice %></p>

<h1>Medicines</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Quantidade</th>
      <th>Validade</th>
      <th>Bula</th>
      <th>Usei para</th>
      <th>Data de compra</th>
      <th>Categoria</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @medicines.each do |medicine| %>
      <tr>
        <td><%= medicine.name %></td>
        <td><%= medicine.quantity %></td>
        <td><%= medicine.medicine_validity %></td>
        <td><%= medicine.medicine_insert %></td>
        <td><%= medicine.used_to %></td>
        <td><%= medicine.purchase_date %></td>
        <td><%= medicine.categories %></td>
        <td><%= link_to 'Show', medicine %></td>
        <td><%= link_to 'Edit', edit_medicine_path(medicine) %></td>
        <td><%= link_to 'Destroy', medicine, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Medicine', new_medicine_path %>
