<p id="notice"><%= notice %></p>

<p>
  <strong>Foto:</strong>
  <% if @medicine.picture.attached? %>
    <%= image_tag @medicine.picture %>
  <% end %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @medicine.name %>
</p>

<p>
  <strong>Quantidade:</strong>
  <%= @medicine.quantity %>
</p>

<p>
  <strong>Validade:</strong>
  <%= @medicine.medicine_validity.strftime("%d/%m/%Y") %>
</p>

<p>
  <strong>Bula:</strong>
  <%= @medicine.medicine_insert %>
</p>

<p>
  <strong>Usei para:</strong>
  <%= @medicine.used_to %>
</p>

<p>
  <strong>Data de compra:</strong>
  <%= @medicine.purchase_date.strftime("%d/%m/%Y") %>
</p>

<p>
  <strong>Categorias:</strong>
  <% @medicine.categories.each do |c| %>
    <span class="badge bg-info">
      <%= c.name %>
    </span>
  <% end %>
</p>

<%= link_to edit_medicine_path(@medicine), class: "btn btn-primary" do %>
  Editar
<% end %>

<%= link_to 'Voltar', medicines_path %>
