<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @medicine.name %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @medicine.quantity %>
</p>

<p>
  <strong>Medicine validity:</strong>
  <%= @medicine.medicine_validity %>
</p>

<p>
  <strong>Medicine insert:</strong>
  <%= @medicine.medicine_insert %>
</p>

<p>
  <strong>Used to:</strong>
  <%= @medicine.used_to %>
</p>

<p>
  <strong>Purchase date:</strong>
  <%= @medicine.purchase_date %>
</p>

<%= link_to 'Edit', edit_medicine_path(@medicine) %> |
<%= link_to 'Back', medicines_path %>
