<p id="notice"><%= notice %></p>

<p>
  <strong>Foto:</strong>
  <% if @medicine.picture.attached? %>
    <%= image_tag @medicine.picture %>
  <% end %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @medicine.name %>
</p>

<p>
  <strong>Quantidade:</strong>
  <%= @medicine.quantity %>
</p>

<p>
  <strong>Validade:</strong>
  <%= @medicine.medicine_validity %>
</p>

<p>
  <strong>Bula:</strong>
  <%= @medicine.medicine_insert %>
</p>

<p>
  <strong>Usei para:</strong>
  <%= @medicine.used_to %>
</p>

<p>
  <strong>Data de compra:</strong>
  <%= @medicine.purchase_date %>
</p>

<p>
  <strong>Categorias:</strong>
  <% @medicine.categories.each do |c| %>
    <%= c.name %>
  <% end %>
</p>

<%= link_to 'Edit', edit_medicine_path(@medicine) %> |
<%= link_to 'Back', medicines_path %>
