<h1>Farmacinha</h1>

<% if @medicine.last == nil and @category.last == nil %>
  <p>
    Seja bem vindo a PharmMy. Sua farmacinha particular e online!
    No momento você não tem nada cadastrado no sistema.

    <p>Para começar a usar a PharmMy comece cadastrando a categoria <%= link_to "aqui", new_category_path %></p>
  </p>
<% else %>  
  <p>Lista de remédios que tenho em casa | Atualizado em:
    <span class="badge bg-dark">
      <%= @medicine.last ? @medicine.last.updated_at.strftime("%d/%m/%Y") : "---" %>
    </span> 
  </p>

  <br />

  <div class="row btn-margin-bottom">
    <div class="col-4">
      <%= link_to medicines_path, class: "btn btn-primary" do %>
        Remédios cadastrados
        <span class="badge bg-secondary">
          <%= @medicine.count %>
        </span>
      <% end %>
    </div>
    <div class="col-4">
      <%= link_to categories_path, class: "btn btn-info" do %>
        Categorias cadastradas
        <span class="badge bg-secondary">
          <%= @category.count %>
        </span>
      <% end %>
    </div>
    <div class="col-4">
      <button type="button" class="btn btn-warning pe-none">
         Próximo ao vencimento
         <span class="badge bg-secondary">
          0
         </span>
      </button>
    </div>
  </div>
<% end %>